version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: sp_postgres
    env_file: .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - sp_pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 20

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: sp_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      postgres:
        condition: service_healthy

  minio:
    image: minio/minio:latest
    container_name: sp_minio
    env_file: .env
    command: server /data --console-address ":9001"
    ports:
      - "${MINIO_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9001"
    volumes:
      - sp_minio:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 5s
      timeout: 3s
      retries: 20

  minio-init:
    image: minio/mc:latest
    container_name: sp_minio_init
    depends_on:
      minio:
        condition: service_healthy
    env_file: .env
    volumes:
      - ./minio/policies:/policies
      - ./minio/init.sh:/init.sh
    entrypoint: ["/bin/sh", "/init.sh"]
  api:
    build:
      context: ../../apps/api
    container_name: sp_api
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}

      S3_ENDPOINT: http://minio:9000
      S3_BUCKET: ${MINIO_BUCKET_NAME}
      S3_ACCESS_KEY: ${MINIO_APP_USER}
      S3_SECRET_KEY: ${MINIO_APP_PASSWORD}
      S3_REGION: us-east-1
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
      minio-init:
        condition: service_completed_successfully

volumes:
  sp_pgdata:
  sp_minio:
